{% extends "monitor/base.html" %}

{% block content %} 
    <main class="canva">
        <div class="dashbord">
            <div class="titulo-dashbord">Status dos Sistemas</div>

            {% for incidente in incidentes %}
            <div class="lista-status">
                <div class="status-item">
                    <div class="info-status">
                        <h3>{{ incidente.sistema }}</h3>
                        
                        <p>Última Atualização: {{ incidente.data_atualizacao|date:"d/m H:i" }}</p>
                        <p>Uptime: {{ incidente.uptime }}%</p>
                    </div>
                    <div class="indicador-status">
                        
                        {% if incidente.status == 'Funcionando' %}
                            <span class="ponto verde"></span>
                            <span class="texto-status">Funcionando</span>
                        
                        {% elif incidente.status == 'instavel' or incidente.status == 'Instável' %}
                            <span class="ponto amarelo"></span>
                            <span class="texto-status">Instável</span>
                        
                        {% else %}
                            <span class="ponto vermelho"></span>
                            <span class="texto-status">Fora do Ar</span>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            
            {% empty %}
                <div style="text-align: center; padding: 20px; color: #555;">
                    <p><strong>Nenhum incidente ativo!</strong></p>
                    <p style="font-size: 13px;">Todos os sistemas operando normalmente.</p>
                </div>
            {% endfor %}
            </div>

        <nav class="btn-acao">
            <a href="{% url 'historico' %}" class="btn">Histórico</a>
            <a href="{% url 'incidentes_ativos' %}" class="btn">Registrar Incidente</a>

            {% if user.is_superuser %}
                <a href="{% url 'cadastro' %}" class="btn">Cadastrar Usuário</a>
                <a href="{% url 'gerenciar_incidentes' %}" class="btn">Gerenciar Incidentes</a>
            {% endif %}
        </nav>
    </main>
{% endblock %}
